.filterWrapper {
    position: relative;
    display: inline-block;
    margin-left: 2%;
}

.filterButton {
    border-radius: 5px;
    padding: 7px 16px;
    background-color: white;
    border-color: rgba(24, 146, 121, 1);
    border-style: solid;
    cursor: pointer;
    color: rgba(24, 146, 121, 1);
    font-size: 16px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.filterButton:hover {
    background-color: rgba(24, 146, 121, 1);
    color: white;
}


.filterModal {
    padding: 1.5rem 3.2rem 1.5rem 1.5rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    z-index: 2;
    max-height: calc(100vh - 152px);
    position: absolute;
    margin-top: 0.5rem;
    background-color: white;
    box-shadow: 0 8px 15px rgba(0,0,0,0.5);
}

.filterModal select {
    cursor: pointer;
    outline: none;
    padding: 1%;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
}

.filterModalActions {
    border-top-width: 1px;
    border-top-color: #e4e7eb;
    border-top-style: solid;
    margin-top: 15%;
    display: flex;
    align-self: flex-end;
    padding: 0.75rem 0 0.25rem 0;
}

.filterModalActions button {
    border-radius: 0.125rem;
    padding: 0.25rem 0.5rem;
    background-color: rgba(24, 146, 121, 1);
    border-color: transparent;
    color: white;
    font-weight: 600;
    cursor: pointer;
}