.cardsWrapper {
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    justify-content: flex-start;
    margin: 1%;

}
.cards {
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    border-radius: 5%;
    padding: 18px;
    width: 240px;
    height: 398px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.2);
    filter: drop-shadow(2px 6px 3px rgba(0, 0, 0, 0.2));
}

.blockImage {
    position: relative;
    display: inline-flex;
}

.cardInfo {
    display: inline-flex;
}

.episode {
    display: block;
    width: 100%;
}


.cardInfo ul {
    list-style-type: none;
    padding-left: 0; 
    line-height: 26px;
    font-size: 12px;
}

.episode .summary {
    line-height: 20px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}
.cardInfo a {
    text-decoration: none;
    color: black;
    font-size: 12;
}

.cardInfo a:hover {
    color:rgba(24, 146, 121, 1)
}

.blockImage img {
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.gender {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 2%;
    padding: 2%;
    border-radius: 50%;
    font-size: 1.3rem;
    text-align: center;
    width: 20px;
    height: 20px; 
    background-color: rgba(24, 146, 121, 0.8);
}

.series {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 2%;
    padding: 2%;
    border-radius: 10%;
    font-size: 10px;
    text-align: center;
    background-color: rgba(24, 146, 121, 0.8);
}

.name {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    font-size: 14px;
    color: white;
    text-decoration: none; 
    width: 100%;
    text-align: center;
    background-color: rgba(24, 146, 121, 0.8);
}

.name:hover {
    color:rgba(24, 146, 121, 1);
    background-color:rgba(255,255,255, 0.8);
}

.name p {
    padding-left: 5%;
}