
.Apps {
  background-color: white;
  margin: 2%;
}

.navTop {
  vertical-align: bottom;
}


.nav input[type=text] {
  float: left;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  width: 717px;
  height: 34px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}


.actBtn {
  background: #189279;
  border-radius: 8px;
  border: none;
  text-align: center;
  color: white;
  position: relative;
  display: table;
  width: 210px;
  height: 34px;
  
}

.inactBtn {
  background: rgba(196, 196, 196, 0.5);
  border: none;
  border-radius: 8px;
  position: relative;
  width: 210px;
  height: 34px;
}

.appLogo {
  position: relative;
  width: 110px;
  height: 143px;
  
}

/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/