.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-end;
}

.actBtn {
    background: #189279;
    border-radius: 8px;
    border: none;
    text-align: center;
    color: white;
    width: 210px;
    height: 34px;
    align-self: flex-end;
    margin: 0 1% 1% 1%;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.inactBtn {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 8px;
    width: 210px;
    height: 34px;
    align-self: flex-end;
    margin: 0 1% 1% 1%;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.inactBtn:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.6);
    border-color: #189279;
}

.appLogo {
    width: 110px;
    height: 143px;
    align-self: flex-end;
}