.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-end;
}

.actBtn {
    background: #189279;
    border-radius: 8px;
    border: none;
    text-align: center;
    color: white;
    width: 210px;
    height: 34px;
    align-self: flex-end;
    margin: 2%;

}

.inactBtn {
    background: rgba(196, 196, 196, 0.5);
    border: none;
    border-radius: 8px;
    width: 210px;
    height: 34px;
    align-self: flex-end;
    margin: 2%;
}

.appLogo {
    width: 110px;
    height: 143px;
    align-self: flex-end;
}